    <header class="navbar navbar-inverse navbar-fixed-top" id="top">
        <div class="container">
            <a href="../" class="navbar-brand">WeiBo</a>
            <nav id="bs-navbar" class="collapse navbar-collapse">
                <ul class="nav navbar-nav">
                    <li>
                        <a href="./">所有说说</a>
                    </li>

                    <li>
                        <a href="/userlist">成员列表</a>
                    </li>
                </ul>
                <ul class="nav navbar-nav navbar-right" id="nav-not-login">
                    <li>
                        <a href="/login">登录</a>
                    </li>
                    <li>
                        <a href="/regist">注册</a>
                    </li>
                </ul>
                <ul class="nav navbar-nav navbar-right" id="nav-logined">
                    <li class="nav-name"><a>欢迎您！<span></span></a></li>
                    <li><a href="/setinfo">设置个人资料</a></li>
                </ul>
            </nav>
        </div>
    </header>
